.cert__section__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cert__img__icon {
  width: 131px;
  height: 124px;
  cursor: pointer;
}
.cert__img__icon:hover {
  transform: scale(0.9);
}
.cert_text {
  color: #ee7728;
  margin-bottom: 1.1rem;
}
@media (max-width: 800px) {
  .cert_text {
    margin-left: 13px;
    font-weight: 900;
  }
}
