.contact__main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.social__icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.social__icons > p {
  margin: 16px 42px 17px 10px;
}
.icon_img_contact {
  width: 35px;
  height: 35px;
}

.message__box {
}
.message__footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url(../assets/pexels-sohail-na-807598.jpg);
}
.footer > p {
  font-weight: 800;
  font-size: large;
  color: white;
}
