.main {
  background-image: url("../../public/pexels-gabriel-peter-696644.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: large;
}
