body {
  background-image: url("../assets/pexels-gabriel-peter-696644.jpg");
  background-size: cover;
}
.main {
  padding: 20px;
}
.sidebar {
  width: 60px;
  height: 70vh;
}
.introduction {
  display: flex;
  position: absolute;
  top: 189px;
  left: 95px;
  width: 100vh;
  height: 65vh;
}
.profile {
  margin: -122px 0px 0px 81px;
  padding: 30px;
}
@media (max-width: 800px) {
  body {
    background-image: url("../assets/pexels-octoptimist-4904342.jpg");
    background-size: cover;
  }
  .introduction {
    display: flex;
    position: absolute;
    width: max-content;
    height: max-content;
    top: -14px;
    left: 97px;
  }
  .profile {
    margin: -326px 0px 0px 81px;
    padding: 30px;
  }
}
