body {
  background-image: url("../assets/pexels-octoptimist-4904342.jpg");
  background-size: cover;
}
.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.main {
  padding: 20px;
}
.sidebar {
  width: 60px;
  height: 70vh;
}
.introduction {
  display: flex;
  position: absolute;
  top: 133px;
  left: 97px;
  width: 100vh;
  height: 65vh;
}
.profile {
  margin: -122px 0px 0px 45px;
  padding: 30px;
}
.projects {
  margin: 0px 0px 0px 80px;
  padding: 30px;
}
.certs {
  margin: 0px 0px 0px 80px;
  padding: 30px;
}
.techs {
  margin: 0px 0px 0px 80px;
  padding: 30px;
}
.contact {
  margin: 0px 0px 0px 80px;
  padding: 30px;
}
.foot {
  width: 100%;
}
@media (max-width: 800px) {
  body {
    background-image: url("../assets/pexels-octoptimist-4904342.jpg");
    background-size: cover;
  }
  .introduction {
    display: flex;
    position: absolute;
    width: max-content;
    height: max-content;
    top: 99px;
    left: 97px;
  }
  .profile {
    margin: -326px 0px 0px 81px;
    padding: 30px;
  }
  .projects {
    margin: 0px;
    padding: 30px;
  }
  .certs {
    margin: 0px;
  }
  .techs {
    margin: 0px;
  }
  .contact {
    margin: 0px;
  }
}
