.sidebar__main {
  display: flex;
  flex-direction: column;
  padding: 42px 2px 29px 10px;
  position: fixed;
}
.sidebar__main > p {
  padding: 0px 14px 19px 0px;
  cursor: pointer;
}
img {
  width: 45px;
  height: 45px;
}
/***mobile design**/
@media (max-width: 800px) {
  .sidebar__main {
    padding: 20px;
    position: absolute;
  }
}
